* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    -webkit-user-select: none;
    user-select: none;

    cursor: default;
    background-color: #fff;
    color: #7646e3;
    background-position: center center;
    font-family: "RoboReg", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
    outline: 0;
    cursor: default;
}

a, a:active, a:focus{
    color: #7646e3;
}

a:hover{
    color: #fff;
}

.stl-primary{
    background-color: #7646e3;
    color: #ffffff;
}

.nav-tabs{
    /*width: 760px;*/
}
.nav-tabs li{
    width: 20%;
    text-align: center;
    font-size: 120%
}

.container{
    width: 760px;
    padding: 0;
    margin: 5px 0px 5px 20px;
}

h3{
    text-align: center;
    margin-bottom: 1em;
    font-size: 180%;
}


.tab-content{
    font-size: 12px;
}

.tab-content h3{
    margin-top: 0;
}

#balance_tab h4, #balance_tab h5{
    color: #7646e3;
}

#balance_tab h5 span{
    color: #ccc;
}

#settings_tab h3{
    margin-top: 20px;
    margin-bottom: 30px;
}

.syncing{
    font-size: 60%;
}

.tab-content .tab-pane {    
    position: relative;
}

.form-horizontal .control-label{
    text-align: left;
}


.progress{
    height: 22px;
    text-align: center;
    background: #ddd;
}

#progress_bar_text_high{
    font-size: 90%; 
    display: none;
}

#progress_bar_text_low{
    font-size: 80%;
    color: #c7254e;
}

.control-label{
    font-weight: bold;
}

.tx-list{
    color: #666;
    margin-right: 20px;
    font-weight: bold;
}

.tx-list a{
    cursor: pointer;
}

.tx-list.tx-out, .tx-list.tx-in, .tx-list.tx-pool, .tx-list.tx-pending, .tx-list.tx-out a, .tx-list.tx-out a:active, .tx-list.tx-out a:focus{
    color: #c7254e;
    margin-bottom: 0;
}

.tx-list.tx-in, .tx-list.tx-in a, .tx-list.tx-in a:active, .tx-list.tx-in a:focus{
    color: green;
}

.tx-list.tx-pool, .tx-list.tx-pending, .tx-list.tx-pending a, .tx-list.tx-pending a:active, .tx-list.tx-pending a:focus, .tx-list.tx-pool a, .tx-list.tx-pool a:active, .tx-list.tx-pool a:focus{
    color: orange;
}

.tx-list a:hover{
    color: #7646e3;
}

.tx-list.txid{
    color: inherit;
}

.tx-list.tx-payment-id{
    font-weight: normal;
}

.tx-fee-hide, .tx-note-hide, .tx-destinations-hide{
    display: none;
}

.tx-list.tx-lock{
    color: #666;
}

.modal-progress-text{
    color: #333;
    font-size: 90%;
    font-weight: bold;
    margin-left: 10px;
}

#form_receive input, #form_send_tx input, #form_send_tx select{
    font-size: 14px;
}

.btn-sm{
    border-radius: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 12px;
}

table thead tr{
    height: 3em;
}

table tbody tr {
    color: #aaa;
    height: 3em;
    line-height: 1.6em;
}

table thead tr th{
    text-align: left;
    text-size: 18px;
    padding: auto 1em;
}

table tbody tr td a:hover{
    color: #666;
    cursor: pointer;
}

.address-book-row{
    cursor: pointer;
}

#address-book-box{
    max-height: 450px;
}

#address-book-box table{
    width: 100%;
}

#address-book-box table thead {
    display: inline-block;
    width: 100%;
}

#address-book-box table tbody {
    border-top: none;
    max-height: 300px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}

#address-book-box table tbody::-webkit-scrollbar-track,
.tx-destinations::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}


#address-book-box table tbody::-webkit-scrollbar,
.tx-destinations::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.tx-destinations::-webkit-scrollbar{
    height: 8px;
}

#address-book-box table tbody::-webkit-scrollbar-thumb,
.tx-destinations::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ccc;
}

.tx-destinations {
    width: 100%;
    max-height: 200px;
    overflow: auto;
    font-size: 90%;
}

.wallet-settings{
    text-align: center;
}

.wallet-settings button{
    margin-left: 20px;
}

.form-control.address-box{
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 85%;
    color: #000;
}

textarea{
    border:none;
    width:100%;
    resize:none;
    font-weight:bold;
}